/* header styles */
button {
    text-align: center;
}

.header {
    background: rgba(229, 84, 115, 0.10);


}

.banner {
    display: flex;
    padding: 50px 50px 0px 150px;
    align-items: center;


}

.banner .pr-pic {
    width: 30%;
    height: 800px;
    float: right;
    padding-left: 300px;

}

.banner-title {
    width: 708px;
    font-size: 80px;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 0px;
}

.banner-description {
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
}



.about {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.about-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;



}

.about-images {
    gap: 80px;
    display: flex;
    padding: 150px;
    margin-left: 250px;
}

.images-title {
    text-align: center;
    padding: auto;
    font-size: 30px;
    font-weight: 700;
}

.img1 {
    padding: 70px 10px;
    padding-bottom: 0px;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-top: 110px;
    border-bottom: 67px;
    border-left: 76px;
    border-right: 78px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.img2 {
    padding: 60px 10px;
    padding-bottom: 0px;
    width: 370px;
    height: 370px;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.img3 {
    padding: 70px 10px;
    padding-bottom: 0px;
    width: 314px;
    height: 471px;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.about-some-icons {
    gap: 50px;
    display: flex;
    padding: 60px 10px;
    width: 1300px;
    height: 250px;
    border-radius: 6px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 300px;
    padding-left: 400px;
    padding-bottom: 20px;

}

.icons-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 0px;
    padding-bottom: 150px;
    padding-right: 10px;

}

.icon1 {
    padding: 60px 10px;
    margin-left: 20px;
    width: 88px;
    height: 88px;
}

.icon2 {
    padding: 60px 10px;
    width: 88px;
    height: 88px;

}

.icon3 {
    padding: 60px 10px;
    width: 88px;
    height: 88px;

}

.sign-up-section {
    padding: 150px;
    width: 100%;
    height: 500px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 180px;
}

.sign {
    display: flex;
    padding: 50px 50px 0px 150px;
    align-items: center;
}

.sign-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text-primary {
    color: #E55473;
}

.sign-description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary2 {
    display: flex;
    justify-content: center;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    margin-left: 35%;
}

.pr-pic2 {
    width: 450px;
    height: 620px;
    padding-left: 500px;

}

.inst {
    text-align: center;
    margin-top: 160px;
}

.inst-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.inst-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.images4 {
    width: 400px;
    height: 500px;
    gap: 80px;
    display: flex;
    padding: 150px;
    margin-left: 240px;
}

.txt {
    width: 1800px;
    height: 650px;
    margin-left: 20%;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url('../flower\ assets/Rectangle 9.png');
}

.txt-title {
    margin-right: 25%;
    padding-top: 150px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.txt-des {
    margin-right: 25%;
    font-size: 22px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.contact input[type="email"] {

    margin-right: 30%;
    width: 600px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.btn-primary3 {
    display: inline-block;
    margin-left: 17%;
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    position: inherit;

}

.footer-section {
    text-align: center;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    background: #111010;
}

.footer-title {
    padding-top: 300px;
    padding-right: 50px;
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
    font-size: 48px;
    font-weight: 800;

}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.last-footer {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}